<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoundMapper">
    <insert id="createBound" parameterType="java.lang.Long">
        insert into t_order_coffee (coffee_order_id, items_id) values (#{coffee_id}, #{order_id})
    </insert>

</mapper>