<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleMapper">
    <select id="selectArticleByOrderId" parameterType="INTEGER" resultType="com.example.demo.domain.Article">
        select * from tb_article where id in (
          select article_id from tb_item where order_id = #{id}
        )
    </select>
</mapper>